@import url(https://use.fontawesome.com/releases/v5.10.0/css/all.css );


.card{
    display: block;
    background-color: red;
    position: absolute;

}

.pic1{
    position: absolute;
    top: 20%;
    left: 40%;
    height: auto;
}

.pic2{
    position: absolute;
    top: 80%;
    left: 40%;
    height: auto;
}