html{
    font-family: Helvetica, sans-serif;
}
nav{
    display: inline-block;
}

nav li {
    display: inline-block;
}

nav h1 {
    display: inline-block;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }