@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

.container{
    position: relative;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    gap: 1rem;
width: 25vw;
height: 20vh;
padding: 1rem;
padding-top: 0;
background-color: whitesmoke;
}

.container button{
position: absolute;
bottom: 15px;
left: 20px;
background-color: black;
color: white;
border-radius: 4px;
padding: 5px;
padding-left: 10px;
padding-right: 10px;
cursor: pointer;
}
    








/* -----------------USERNAME-------------------------- */



.username {
    position: relative;
}

.username i{
    position: absolute;
     top: 5px;
    left: 5vw;
    font-size: 15px;
    
}

.input-field1{
    
    border: 1.5px solid lightgrey;
    border-radius: 4px;
    height: 1.30rem;
    width: 15rem;
}

label{
    font-weight: bolder;
}

/* ------PASWORD------------------------------- */
.password {
    position: relative;
}

.password i{
    position: absolute;
     top: 5px;
    left: 5vw;
    font-size: 15px;
    
}

.input-field2{
    margin-left: 5px;
    border: 1.5px solid lightgrey;
    border-radius: 4px;
    height: 1.30rem;
    width: 15rem;
}