html{
    font-family: Helvetica, sans-serif;
    font-size: 20px;

}

.container {
    max-width: 15vw;
    height: 35rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  span {
    border: 1px solid black;
    text-align: center;
    padding: 1rem;
  }
span{
    order: 20;
}
#item-11{
    order: 1;
}

#item-2{
    order: 2;
}

#item-12{
    order: 3;
}

#item-4{
    order: 4;
}

#item-8
{
    order: 5;
}

#item-9{
    order: 6;
}

#item-6{
    order: 7;
}

#item-5{
    order: 8;
}