body{
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    height: 100vh;
}

div{
    align-self: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 1rem;
}