@import url(reset.css);
@import url(typography.css);


body{
    background-color: grey;
}

table{
    /* border: 1px solid lightgrey; */
    width: 100%;
    border-collapse: collapse;
}
.tr3 td{
background-color: white;
}
td{
    color: black;
    border: 1px solid lightgrey;
    background-color: transparent;
}

th{
    background-color: black;

    color: white;
    border: 1px solid lightgrey;


    flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
    .tr1{display: flex;
        flex-direction: column;
        width: 20%;

    
    }

        .tr2{display: flex;
            flex-direction: column;

     }
    
}